<div class="column">
    <h4 class="ui top attached styled header">
        {{ ('sylius.ui.shipments')|trans }}
    </h4>

    <div class="ui top attached tabular menu">
        {% for shipment in order.shipments %}
            <a class="item {% if loop.first %}active{% endif %}" data-tab="shipment_{{ loop.index }}">{{ loop.index }}</a>
        {% endfor %}
    </div>

    {% for shipment in order.shipments %}
        <div class="ui bottom attached tab segment {% if loop.first %}active{% endif %}" data-tab="shipment_{{ loop.index }}" id="shipment-changes-{{ loop.index }}">
            {{ render(url('brille24_admin_partial_shipment_log_entry_index', {'id': shipment.id})) }}
        </div>
    {% endfor %}
</div>
